@import url(http://fonts.googleapis.com/css?family=Josefin+Slab:400,600);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic);
/*==== Fonts ==== */
/*==== Scaffolding ==== */
body {
  width: 1140px;
  margin: 0 auto;
  font-size: 62.5%;
  background: white;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, white 0%, #f6f6f6 47%, #ededed 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, white), color-stop(47%, #f6f6f6), color-stop(100%, #ededed));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, white 0%, #f6f6f6 47%, #ededed 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, white 0%, #f6f6f6 47%, #ededed 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, white 0%, #f6f6f6 47%, #ededed 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, white 0%, #f6f6f6 47%, #ededed 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed',GradientType=1 );
  /* IE6-9 fallback */ }

header {
  min-height: 90px;
  border-bottom: 2px solid #a2a2a2; }
