!!!
%html
  %head
    %title Shiplington - An Indianapolis Web Development and Lean Startup Consultancy
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %meta{:content => "Shiplington provides top-tier software development and startup advice based on extensive experience with early-stage startups and the web.", :name => "description"}
    %link{:charset => "utf-8", :href => "style.css", :media => "screen", :rel => "stylesheet", :title => "no title", :type => "text/css"}
    %link{:charset => "utf-8", :href => "font-awesome.css", :rel => "stylesheet", :title => "no title", :type => "text/css"}
  %body
    %header.main
      %h1
        %span.mark
          [<span class="asterisk">*</span>]
        %span.name shiplington

      .info
        %a{:href => "mailto:kyle@shiplington.com"}
          %i.icon-envelope-alt
        %a{:href => "http://www.twitter.com/kyleashipley"}
          %i.icon-twitter-sign
        %a{:href => "http://www.linkedin.com/pub/kyle-shipley/6/b02/603"}
          %i.icon-linkedin-sign
          
    %p.quote
      Launching a new product is challenging. Get started on the right foot.
    
    %section.content

      %article.development
        %header
          %h1 Development
          %span [_]
        .description
          %p
            I make web applications, usually in Ruby on Rails and JavaScript. I do some iOS and Arduino work as well.
          %p
            I love learning new things, so don't be shy if you're using something new and different.

      %article.lean-startup
        %header
          %h1 Lean Startup
          %span [?]
        .description
          %p
            You need to find customers fast. I specialize in running experiments to help you achieve product/market fit.
          %p
            I can help you make your first dollar or improve your product for existing customers.

      %article.technical-advice
        %header
          %h1 Technical Advice
          %span [>]
        .description
          %p
            There are too many languages and too few developers. I can help you plan your technology stack and interview potential employees.
          %p
            Good hiring is critical to your success. I'll help find the right fit for your team.

    %section
      %p.quote
        Want to work with someone who understands your business as well as your software?
        %a{:href => "mailto:kyle@shiplington.com"} Get in touch.
