%html
  %head
    %title Five Day Prototype
    %link{:href => "http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap-responsive.min.css", :rel => "stylesheet"}
    %link{:href => "style.css", :rel => "stylesheet"}

  %body
    %header
      %h1
        %a{ href: '/' } Welcome to Shiplington

      %p
        The happiest consultancy on Earth!

    %section
      %p
        My name is Kyle Shipley, and I like to solve problems.

      %p
        If you're a startup or small business looking to increase profits,
        find your market, or just establish an online presence,
        = succeed '.' do
          %a{ href: 'mailto:kyle@shiplington.com' } I'd love to help you

      %p
        I believe that <strong>good business is more than good
        technology</strong>. I will work with you to understand
        the challenges you face in creating, marketing, and
        profiting from your idea. Software accelerates success,
        but there is nothing more important than <strong>solving
        real problems for your customers</strong>.
          
      %p
        I spend most of my time building web applications
        in Ruby on Rails, although you will sometimes find me
        on the iOS or Arduino. I am the creator of
        = succeed ',' do
          %a{ href: 'http://www.awesomecontroller.com/' } Awesome Controller
        winner of Startup Weekend Indy for Fall 2011.

      %p
        You can find me around the web on
        %a{ href: 'http://www.linkedin.com/pub/kyle-shipley/6/b02/603' } LinkedIn
        or
        = succeed '.' do
          %a{ href: 'https://twitter.com/#!/kyleashipley' } Twitter

      %p
        %a{ href: 'mailto:kyle@shiplington.com' } Send me a note
        or give me a call at (678) SHIP-LLC
        &mdash; that's (678) 744-7552 &mdash;
        and let's see if we're a good fit!