$basefont: 18px !default
$baseline: 25px !default

body
  width: 640px
  @media screen and (max-width: 640px)
    width: 300px
  margin: 3em auto 3em
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif

  a
    text-decoration: none

  p
    font-size: 18px
    line-height: 25px

  ul
    margin-top: 1em

    li
      margin: 0.5em 0
      color: #404040

  header
    color: #A5A5A5

    h1
      margin-bottom: -0.25em
      font-size: 45px
      font-weight: 700

      a
        color: #F6291D

  section
    p
      margin-top: 1.5em
      width: 480px
      @media screen and (max-width: 640px)
        width: 280px
