@import "bootstrap"

body
  font-family: 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif

  > header, > section, > footer
    width: 640px

  header
    color: #A5A5A5
    margin: 5em auto 4em

    h1
      color: black
      font-size: 3em
      font-weight: 700
      margin-bottom: 0.25em

    a
      color: #F6291D
